{% extends 'base.html' %}

{% block styles %}
<style>
    body {
        margin-top: 20px;
        background: #F0F8FF;
    }
    .container {
        max-width: 1200px; /* Limiting container width for better readability */
    }
    .project-card {
        position: relative;
        margin-bottom: 30px;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }
    .project-img {
        position: relative;
    }
    .project-img img {
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto;
    }
    .label-offer {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ed1b24;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .project-info {
        padding: 15px;
        text-align: center;
    }
    .project-title {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 18px;
        color: #007bff;
    }
    .price {
        font-weight: 600;
        color: #878787;
    }
    .line-through {
        text-decoration: line-through;
    }
    .project-cart {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }
    .project-cart a {
        margin: 0 5px;
        color: #292dc2;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
    }
    .project-cart a:hover {
        color: #fff;
        background-color: #292dc2;
    }
    .project-card:hover .project-cart {
        visibility: visible;
        opacity: 1;
        top: 70%;
    }
</style>
{% endblock styles %}

{% load embed_video_tags %} 

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        {% for project in projects %}
        <div class="col-11 col-sm-6 col-lg-4 col-xl-3 mb-3">
            <div class="project-card">
                <div class="project-img">
                    <div class="label-offer bg-red">{{project.category}}</div>
                </div>
                <div class="project-info">
                    <a class="nav-link" href="{% url 'projectName' project.id %}">{{ project.project_name }}</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No projects found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
